<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<%= will_paginate @items %>

  <table>
    <thead>
      <tr>
        <th>Product ID</th>
        <th>Name</th>
        <th>Price</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.productID %></td>
          <td><%= item.name %></td>
          <td><%= item.price %></td>
          <td><%= link_to 'View Item', item %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<%= will_paginate @items %>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
